{% extends 'base.html.twig' %}

{% block title %}Espace membres{% endblock %}

{% block body %}

<div class="margin padding border-grey align-center">

  <h1>Bienvenue {{ userName }}!</h1>
  {% if photo %}
  <img class="width-180 block align-center" alt="photo de profil" src="{{ asset('uploads/images/' ~  photo ) }}">
  {% endif %}
</div>

<div class="margin padding border-grey row align-center">
  <div class="col-xs-12 col-sm-6 col-md-3">
    <a class="button block small-margin" href="{{ path('members_modify') }}">Modifier vos données personelles</a>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3">
    <a class="button block small-margin" href="{{ path('newTask') }}">Nouvelle tâche </a>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3">
    <a class="button block small-margin" href="{{ path('task') }}">
      {% if countOldTasks == 0 %}
      Pas tâches non faites
      {% elseif countOldTasks == 1  %}
      {{ countOldTasks }} tâche non faite
      {% else %}
      {{ countOldTasks }} tâches non faites
      {% endif %}
    </a>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3">
    <a class="button block small-margin" href="{{ path('task') }}">
      {% if countFutureTasks == 0 %}
      Pas tâches à venir
      {% elseif countFutureTasks == 1  %}
      {{ countFutureTasks }} tâche à venir
      {% else %}
      {{ countFutureTasks }} tâches à venir
      {% endif %}
    </a>
  </div>
</div>

<div class="margin padding border-grey align-center">
  <h1 class="margin">Liste des tâches à venir</h1>
   <div class="row">
        <div class="col-md-3">
            <p class="late">Noir: en retard, aurait déjà dû être fait</p>
        </div>
        <div class="col-md-3">
            <p class="to-do">Rouge: a faire aujourd'hui, au plus vite</p>
        </div>
        <div class="col-md-3">
            <p class="waiting">Vert: en attente, a faire bientôt</p>
        </div>
        <div class="col-md-3">
            <p class="paused">Jaune: en pause, en attente d'action de votre part</p>
        </div>
    </div>
  <div id='calendar'></div>
</div>

<script>
  // show a calendar with list of tasks filter by user
  document.addEventListener('DOMContentLoaded', function () {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      plugins: ['dayGrid'],
      defaultDate: Date.now(),
      locale: 'fr',
      header: {
        left: 'prev',
        center: 'title',
        right: 'next'
      },
      events: 'http://localhost/php/public/index.php/membres/ReturnTasks',
    });

    calendar.render();
  });
</script>

{% endblock %}