
<div class="container-fluid menu">
    <div class="col-md-2 center">
      <img src="{{ absolute_url(asset('images/logo.jpg')) }}" alt="logo">
    </div>

    <div class="col-md-10">
        <h1 class="margin"><strong>Generateur de taches</strong></h1>
        <h3>N'oubliez plus</h3>
        <h3>jamais rien!</h3>
    </div>
</div>

<nav class="navbar navbar-custom" data-spy="affix" data-offset-top="197">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar test"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="{{ path('home') }}">To do list</a>
    </div>

    <div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            {# change the menu according to the roles of the user #}
            {% if is_granted('ROLE_ADMIN') %}
              <li><a class="nav-link nav-item" href="{{ path('admin') }}">Administration</a></li>
            {% endif %}
            {% if is_granted('ROLE_USER') %}
              <li><a class="nav-link nav-item" href="{{ path('members') }}">Mon espace</a></li>
              <li><a class="nav-link nav-item" href="{{ path('newTask') }}">Nouvelle tâche</a></li>
              <li><a class="nav-link nav-item" href="{{ path('task') }}">Liste des tâches</a></li>
              <li><a class="nav-link nav-item text-muted" href="{{ path('logout') }}">Déconnexion</a></li>
            {% else %}
              <li><a class="nav-link nav-item" href="{{ path('register') }}">Inscription</a></li>
              <li><a class="nav-link nav-item" href="{{ path('members') }}">Connexion</a></li>
            {% endif %}           
              <li><a class="nav-link nav-item" href="{{ path('contact') }}">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>    
